.btn_menu {
  position: relative;
  width: 2.6em;
  height: 2.6em;
  margin-right: 1em;
  padding: 2.1em;
  border: 1px rgba(255,255,255,.4) solid;
  border-radius: 12px;
  background: none;
  cursor: pointer;
}

.btn_menu span {
  position: absolute;
  width: 2em;
  height: 3px;
  background-color: white;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.header_burger_btn span:nth-child(1) {
  transform: translateY(10px);
  transition: all .3s;
}

.header_burger_btn span:nth-child(3) {
  transform: translateY(-10px);
  transition: all .3s;
}

.header_burger_btn.active span:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
  transition: all .3s;
}

.header_burger_btn.active span:nth-child(2) {
  opacity: 0;
}

.header_burger_btn.active span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
  transition: all .3s;
}

button:hover{
  border: 1px white solid;
  transition: all .5s;
}

@media screen and (max-width: 1024px) {
  .btn_menu{
      display: none;
  }

  .icon_header_bottom{
    display: block;
  }
}