.SignUpAndBasket{
    display: flex;
}

ul{
    margin-left: 1.5em;
}

ul a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    list-style-type: none;
}

.logo_name{
    font-size: 14px;
    color: rgba(255,255,255,.6);
}

ul:hover li{
    color: white;
    transition: all .3s;
}