.NavBar{
    position: fixed;
    z-index: 5;
}

.menu{
    position: fixed;
    overflow-y: auto;
    background-color: white;
    width: 19em;
    height: calc(100% - 7.2em);
    top: 7.2em;
    left: auto;
    transform: translateX(-100%);
    transition: all .2s;
}

.menu::-webkit-scrollbar{
    width: 6px;
}

.menu::-webkit-scrollbar-thumb{
    background-color: #f1f1f5;
    border-radius: 16px;
    transition: all .4s;
}

.menu::-webkit-scrollbar-thumb:hover{
    background-color: rgb(210, 210, 210);
    transition: all .4s;
}

.blur.active{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    overflow-y: hidden;
}

.menu.active{
    transform: translateX(0);
    transition: all .2s;
}

.main_menu{
    margin: 1.5em 1em;
}

.list_menu{
    display: flex;
    align-items: center;
    font-size: 1em;
    color: black;
    padding: 0.5em 0 0.5em 0.5em;
}

.list_menu p{
    margin-left: 10px;
}

.list_menu:hover{
    background-color: rgba(236, 235, 235, 0.6);
    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    .menu{
        height: calc(100% - 4em);
        top: 4em;
        width: 100%;
    }
}